.product-form-container {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  background-color: lightblue;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
}

.product-card {
  width: 300px;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
  margin-bottom: -20px;
}

.product-card-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
